* {
    box-sizing: border-box;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}


.navbar {
    background-color: #2ebfac;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;

}

.navbar-list {
    display: flex;
    justify-content: end;
    align-items: center;
    display: none;

}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: #2ebfac;
}

.nav-logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
}

/* div {
    margin-left:30px;
} */
.header-card {
    background-image: url("./assets/slide02.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-card h1,
.header-card p {
    margin: 0;
    color: white;
    line-height: 1.6em;
}

.header-card h1 {
    margin-bottom: 9px;
}

.btn {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin-top: 40px;
    border: 1px solid #dde1e3;
    background-color: transparent;
    border-radius: 25px;
    color: white;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2em;
    padding: 12px 0px;
}

.icon-card {
    background-color: #fff;
}

.description-container {
    padding: 25px;
    margin: 0px;

}

.description-container h1 {
    color: #3ed8c4;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 0.03em;
    margin: 0px;
}

.description-container p {
    color: #8f9ba7;
    line-height: 1.5em;
    margin: 0px;
    margin-top: 17px;
}

.icon-list {
    display: flex;
    padding: 20px 30px;
}

.icon-list h2,
.icon-list p {
    margin: 0px;
    margin-top: 10px;
    font-weight: 100;
}

.icon-card .bi {
    font-size: 24px;
    border: 1px solid #888888;
    height: 2em;
    border-radius: 50%;
    padding: 10px;
    margin-right: 25px;
    color: #888888;
}

.icon-list h2 {
    color: #3ed8c4;
    font-size: 19px;
}

.icon-list p {
    color: #888888;
    font-size: 15px;
    line-height: 1.5em;

}

.image-card {
    padding: 10px 25px;
}

.btn-learn-more {
    color: #cdcccd;
    border: 1px solid#b1b1b1;
    font-weight: 200;
    letter-spacing: 0em;
}

.image-card h3,
.image-card p {
    margin: 0px;
}

.image-card h3 {
    color: #3ed8c4;
    font-weight: 100;
    line-height: 1.3em;
    font-size: 20px;
}

.image-card p {
    line-height: 1.8em;
    color: #888888;
    font-size: 14px;
}


#para {
    margin: 0px;
    font-size: 13px;
}

.description-container h3 {
    margin: 0px;
    /* margin-top: 15px; */
}

.card {
    margin-top: 25px;
}

.card a {
    text-decoration: none;
    color: #938a88;
    font-size: 14px;
    line-height: 1.5em;
}

.card a:hover {
    color: #2ebfac;
}

.card p {
    margin: 0px;
    font-size: 13px;
    margin-top: 10px;
    color: #adaaaa;
    margin-bottom: 25px;
}

.about-container {
    padding: 30px;
    line-height: 1.5em;
}

.about-container h2 {
    color: #3ed8c4;
    font-weight: 100;

}

.about-container p {
    color: #888888;
}

.contact-card ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
}

.contact-card {
    padding: 30px;
}

.contact-card h2 {
    color: #3edad3;
    font-weight: 100;
}

.image-laptop {
    border-radius: 50%;
    height: 6em;
    width: 6em;
    margin-right: 25px;
}

.items {
    display: flex;
}

.image-card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 40px;
}

.lists {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    color: #88888f;
    font-size: 15px;
    line-height: 1.5em;
}

.lists a {
    border-radius: 50%;
}

.about h4 {
    margin: 0px;
    margin-top: 25px;
    color: #666666;
    font-size: 15px;
}

.about p {
    margin: 0px;
}

.contact-card .bi-house-check-fill,
.contact-card .bi-telephone,
.contact-card .bi-envelope,
.contact-card .bi-facebook,
.contact-card .bi-twitter {
    color: #888888;
    border: 2px solid #e8e8e8;
    font-size: 16px;
    margin: 0px;


}

.contact-list {
    margin-top: 40px;
}

hr {
    color: #e3e3e3;
    border: 1px solid;
}